<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/stores">Book Stores<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link active" href="/teams">Basketball Teams</a>
      <a class="nav-link" href="/players">Players</a>
    </div>
  </div>
</nav><br>

<nav class="containers">

<form action="/teams/<%= @team.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <p>Enter new team name:</p>
  <input type='text' name='team[name]' value="<%= @team.name %>"/><br/>
  <p>Enter total wins:</p>
  <input type='text' name='team[wins]' value="<%= @team.wins %>"/><br/>
  <p>Did team make playoffs?:</p>
  <input type='checkbox' name='team[make_playoffs]' value="<%= @team.make_playoffs %>"/><br/>
  <input type='submit'/>
</form><br>

<%= link_to "Go Back Home", "/" %>

</nav>
