<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/stores">Book Stores<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/teams">Basketball Teams</a>
      <a class="nav-link" href="/players">Players</a>
    </div>
  </div>
</nav><br>

<nav class="container">
<h1>All Stores</h1><br>

<h2><a href="/stores/new">Add New Store</a></h2><br>

<% @stores.each do |store| %>
  <h3><a href="/stores/<%= store.id %>"><%= store.name %></a></h3>
  <p>Created at: <%= store.created_at.to_date %></p>
  <a href="/stores/<%= store.id  %>/edit"><button type="submit" class="btn btn-secondary">EDIT</button></a>
  <form action="/stores/<%= store.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">DELETE</button>
  </form><br>
<% end %>
</nav><br>

<p><a href="/">Go Back Home</a></p>
