<a href="/books"</a>Book Index</a><br>
<a href="/stores"</a>Store Index</a><br>
<a href="/teams"</a>Team Index</a><br>
<a href="/players"</a>Players Index</a><br>

<h1>All Stores</h1>

<h2><a href="/stores/new">Add New Store</a></h2>

<% @stores.each do |store| %>
  <h3><a href="/stores/<%= store.id %>"><%= store.name %></a></h3>
  <p>Created at: <%= store.created_at.to_date %></p>
  <a href="/stores/<%= store.id  %>/edit">Edit</a>
  <form action="/stores/<%= store.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form><br>
<% end %>

<p><a href="/">Go Back Home</a></p>
