<a href="/books"</a>Book Index</a><br>
<a href="/stores"</a>Store Index</a>

<a href="/stores">Store Info</a>

<h1><%= @store.name %></h1>

<p>Inventory: <%= @store.inventory %></p>

<p>Open on weekends: <%= @store.open_on_weekends %></p>

<a href="/stores/<%= @store.id %>/edit">Edit</a><br>
<br>

<p>There are <%= @store.books.size %> books in this store.</p>

<a href="/stores/<%= @store.id %>/books">List of books</a><br>

<a href="/stores/:store_id/books/new">Add new book</a>
