<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/stores">Book Stores<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/teams">Basketball Teams</a>
      <a class="nav-link" href="/players">Players</a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="/stores">List of Stores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/stores/<%= @store.id %>/books">List of Books<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/stores/<%= @store.id %>/books/new">Add New Book</a>
    </div>
  </div>
</nav><br>

<nav class="container">

<h1><%= @store.name %></h1>
<p>Inventory: <%= @store.inventory %></p>
<p>Open on weekends: <%= @store.open_on_weekends %></p>
<a href="/stores/<%= @store.id %>/edit"><button type="submit" class="btn btn-info">EDIT</button></a><br>
<br>
<p>There are <%= @store.books.size %> books in this store.</p>

<%= link_to "Go Back Home", "/" %>

</nav><br>
