<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <p>Enter a new book title:</p>
  <input type='text' name='book[title]' value="<%= @book.title %>"/><br/>
  <p>Enter a new price:</p>
  <input type="float" name='book[price]' value="<%= @book.price %>"/><br/>
  <p>Kids friendly book:</p>
  <input type="checkbox" name="book[kids_friendly]" value="><%= @book.kids_friendly %>"/><br/>
  <input type='submit'/>
</form>
