<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/stores">Book Stores<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/teams">Basketball Teams</a>
      <a class="nav-link active" href="/players">Players</a>
    </div>
  </div>
</nav><br>

<nav class="container">

<%= form_with url: "/teams/#{@team.id}/players/#{@player.id}", method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :number %>
  <%= f.number_field :number %><br>

  <%= f.label :injured %>
  <%= f.check_box :injured %><br>

  <%= f.submit "Submit" %>
<% end %>


<%= link_to "Go Back Home", "/" %>

</nav>
