<a href="/books"</a>Book Index</a><br>
<a href="/stores"</a>Store Index</a><br>
<a href="/teams"</a>Team Index</a><br>
<a href="/players"</a>Players Index</a><br>

<form action="/players/<%= @player.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <p>Update player name:</p>
  <input type='text' name='player[name]' value="<%= @player.name %>"/><br/>
  <p>Enter player number:</p>
  <input type='text' name='player[number]' value="<%= @player.number%>"/><br/>
  <p>Is the player injured?:</p>
  <input type='checkbox' name='player[injured]' value="<%= @player.injured %>"/><br/>
  <input type='submit'/>
</form>
