<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/stores">Book Stores<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/teams">Basketball Teams</a>
      <a class="nav-link active" href="/players">Players</a>
    </div>
  </div>
</nav><br>

<nav class="container">

<h1>All Players</h1><br>

<% @players.each do |player| %>
  <h3><a href="/players/<%= player.id %>"><%= player.name %></a></h3>
  <p>Number: <%= player.number %></p>
  <p>Are they injured?: <%= player.injured %></p>
  <a href="/players/<%= player.id  %>/edit"><button type="submit" class="btn btn-secondary">EDIT</button></a>
  <form action="/players/<%= player.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">DELETE</button>
  </form>
<% end %><br>

<%= link_to "Go Back Home", "/" %>

</nav>
