<h1>All Players</h1><br>

<h3><a href="/players/new">New Player Info</a></h3><br>

<% @players.each do |player| %>
  <h3><a href="/players/<%= player.id %>"><%= player.name %></a></h3>
  <a href="/players/<%= player.id  %>/edit">Edit</a>
  <form action="/players/<%= player.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
